  <div class="container">
      <h2>User info</h2>
  <% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <% @user.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
<!--プロフィール編集フォーム-->
      <%= form_with model:@user, local:true do |f| %>
        <div class="field row">
          <%= f.label :name %>
          <%= f.text_field :name, class:"col-md-12" %>
        </div>
        <div class="field row">
          <%= f.label :Image %>
          <%= f.attachment_field :profile_image, class:"form-control-file col-md-12" %>
        </div>
        <div class="field row">
          <%= f.label :introduction %>
          <%= f.text_area :introduction, class:"col-md-12" %>
        </div>
        <div class="actions row">
          <%= f.submit class: "btn btn-primary col-md-12" %>
        </div>
      <% end %>
  </div>
</div>